version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: bot_postgres_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-summarize}
      POSTGRES_DB: ${DB_NAME:-my_bot_db}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: